.header-bg {
  padding-top: 40px;
  padding-bottom: 40px;
  background: var(--gradient-purple);
}

.header-links {
  display: flex;
  flex-wrap: wrap;
  place-content: center space-between;
  padding-bottom: 60px;
  color: var(--white);
}

.header-links a {
  color: var(--white);
  transition: 0.4s;
}

.header-links a:hover {
  opacity: 0.8;
}

.barra-pesquisa,
input {
  display: block;
  width: 100%;
}

.barra-pesquisa {
  position: relative;
}

.barra-pesquisa::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 23px;
  height: 20px;
  top: 20px;
  left: 20px;
  cursor: pointer;
  background: url("../../assets/lupa.svg") no-repeat;
}

.barra-pesquisa input {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  padding: 18px 64px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: var(--white);
  background: rgba(255, 255, 255, 0.2);
}

.barra-pesquisa input::placeholder {
  color: var(--white);
  opacity: 0.5;
}

@media (max-width: 500px) {
  .header-links {
    padding-bottom: 24px;
  }
}
