/* 
? 1. reset
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
? 2. variaveis 
*/

:root {
  --green: #62be75;
  --green-dark: #658e76;
  --white: #ffffff;
  --gradient-default: linear-gradient(270deg, #1a4855 0%, #628e75 100%);
}

/* 
? 3. estilos gerais 
*/

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: var(--white);
  background: var(--gradient-default);
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* 
? 4. utilitarios
*/

.container {
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.fonte-l {
  font: 700 4.25rem/1.2 "Poppins", Arial, Helvetica, sans-serif;
}

.fonte-md {
  font: 700 2rem/1.5 "Poppins", Arial, Helvetica, sans-serif;
  letter-spacing: 0.03em;
}

.fonte-sm {
  font: 400 1rem/1.6 "Poppins", Arial, Helvetica, sans-serif;
}

.fonte-botao {
  font: 500 1rem/1.5 "Poppins", Arial, Helvetica, sans-serif;
}

@media (max-width: 800px) {
  .fonte-l {
    font-size: 3.5rem;
  }

  .fonte-md {
    font-size: 1.125rem;
  }

  .fonte-sm {
    font-size: 0.875rem;
  }

  .fonte-botao {
    font-size: 1rem;
  }
}

/* 
? 5. header / nav
*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-icones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.header-icones a {
  display: inline-block;
  padding: 16px;
}

.header-icones a img {
  transition: all 1.5s;
}

.header-icones a img:hover {
  transform: rotate(360deg);
}

@media (max-width: 500px) {
  .header {
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header > a {
    margin: 0 auto;
  }

  .header-icones {
    margin-top: 14px;
  }
}

/* 
? 6. main
*/

.main {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  grid-template-columns: repeat(2, 1fr);
}

.main-botoes {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}

.main-botoes a:first-child {
  display: flex;
  column-gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.main-botoes a {
  display: inline-block;
  background: transparent;
  padding: 16px 40px;
  text-transform: uppercase;
  transform: skew(-24deg);
  transition: all 0.3s;
  cursor: pointer;
  color: var(--white);
  border: 2px solid var(--green-dark);
}

.main-botoes a:hover {
  background-color: var(--green-dark);
}

.main-botoes a p {
  width: 100%;
}

.main-botoes a p,
.main-botoes a img {
  transform: skew(24deg);
}

@media (max-width: 1100px) {
  .main-botoes a:last-child {
    display: none;
  }
}

@media (max-width: 800px) {
  .main {
    gap: 0;
    grid-template-columns: 1fr;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .main-foto {
    margin: 0 auto;
    grid-row: 1;
  }
}
