.font-1-sm {
  font: 400 1.5rem/1 "Lexend Deca", sans-serif;
}

.font-1-xs {
  font: 400 1rem/1.5 "Lexend Deca", sans-serif;
}

.font-1-l {
  font: 400 1.625rem/1.6 "Lexend Deca", sans-serif;
}

.font-1-m {
  font: 400 1.125rem/1.5 "Lexend Deca", sans-serif;
}

.font-2-sm {
  font: 500 1.125rem/1.5 "Inter", sans-serif;
}

@media (max-width: 500px) {
  .font-1-sm {
    font: 400 1.437rem/1 "Lexend Deca", sans-serif;
  }

  .font-1-xs {
    font: 400 0.875rem/1.5 "Lexend Deca", sans-serif;
  }

  .font-1-l {
    font: 400 1.125rem/1.6 "Lexend Deca", sans-serif;
  }

  .font-1-m {
    font: 400 0.875rem/1.5 "Laxend Deca", sans-serif;
  }
}