/* 
? 1. reset
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
? 2. variaveis 
*/

:root {
  --purple: #574aeb;
  --gradient-purple: linear-gradient(270deg, #3ea1db 0%, #574ae8 100%);
  --white: #ffffff;
  --white-200: #f3f5f7;
  --gray: #717171;
  --gray-dark: #1a202c;
}

/* 
? 3. utilitarios & componentes
*/

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.gray {
  color: var(--gray);
}

.gray-dark {
  color: var(--gray-dark);
}

.font-1-sm {
  font: 400 1.5rem/1 "Lexend Deca", sans-serif;
}

.font-1-xs {
  font: 400 1rem/1.5 "Lexend Deca", sans-serif;
}

.font-1-l {
  font: 400 1.625rem/1.6 "Lexend Deca", sans-serif;
}

.font-1-m {
  font: 400 1.125rem/1.5 "Lexend Deca", sans-serif;
}

.font-2-sm {
  font: 500 1.125rem/1.5 "Inter", sans-serif;
}

@media (max-width: 500px) {
  .font-1-sm {
    font: 400 1.437rem/1 "Lexend Deca", sans-serif;
  }

  .font-1-xs {
    font: 400 0.875rem/1.5 "Lexend Deca", sans-serif;
  }

  .font-1-l {
    font: 400 1.125rem/1.6 "Lexend Deca", sans-serif;
  }

  .font-1-m {
    font: 400 0.875rem/1.5 "Laxend Deca", sans-serif;
  }
}

/* 
? 4. estilos gerais
*/

body {
  background-color: var(--white-200);
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

/* 
? 5. header
*/

.header-bg {
  padding-top: 40px;
  padding-bottom: 40px;
  background: var(--gradient-purple);
}

.header-links {
  display: flex;
  flex-wrap: wrap;
  place-content: center space-between;
  padding-bottom: 60px;
  color: var(--white);
}

.header-links a {
  color: var(--white);
  transition: 0.4s;
}

.header-links a:hover {
  opacity: 0.8;
}

.barra-pesquisa,
input {
  display: block;
  width: 100%;
}

.barra-pesquisa {
  position: relative;
}

.barra-pesquisa::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 23px;
  height: 20px;
  top: 20px;
  left: 20px;
  cursor: pointer;
  background: url("../assets/lupa.svg") no-repeat;
}

.barra-pesquisa input {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  padding: 18px 64px;
  border-radius: 5px;
  outline: none;
  border: 2px solid transparent;
  color: var(--white);
  background: rgba(255, 255, 255, 0.2);
}

.barra-pesquisa input:focus {
  border-color: var(--white);
}

.barra-pesquisa input::placeholder {
  color: var(--white);
  opacity: 0.5;
}

@media (max-width: 500px) {
  .header-links {
    padding-bottom: 24px;
  }
}

/* 
? 6. noticias
*/

.main-noticias {
  margin: 100px auto;
}

.noticia-card {
  padding: 32px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 10px 0px #13131f0d;
  background-color: var(--white);
}

.card-data {
  display: flex;
  flex-wrap: wrap;
  place-content: center space-between;
}

.card-data li img {
  cursor: pointer;
}

.noticia-card h3 {
  margin: 22px 0 8px 0;
}

@media (max-width: 500px) {
  .main-noticias {
    margin: 50px auto;
  }

  .noticia-card {
    margin-bottom: 25px;
  }

  .noticia-card h3 {
    margin: 27px 0 9px 0;
  }
}
